body {
    background-color: rgb(245, 232, 228);
    margin: 20px;
}

h1,
h2 {
    font-style: italic;
}

.h1-topic {
    font-weight: bold;
    color: darkmagenta;
}

.h2-topic {
    font-style: normal;

}

li {
    list-style-position: inside;
}

.quote {
    font-weight: bold;
    text-decoration: underline;
}

table {
    text-align: center;
    margin: auto;
}

table,
td {
    border: 1px solid #4c154e;
}

thead,
tfoot {
    background-color: #4c154e;
    color: #fff;
}

footer {
    font-size: 12px;
}

#sortBtn {
    background-color: darkmagenta;
    color: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 0 1px rgb(209, 16, 16);
}

#sortBtn:hover {
    background-color: white;
    color: darkmagenta;
    transition: 0.3s;
}

/*#sortBtn:focus is for keyboard users who press tab and #sortBtn can highlight*/
#sortBtn:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 1px #380367;
}

#sortBtn:active {
    background-color: palegoldenrod;
}

blockquote {
    list-style: square;
}

.thank-you {
    border: 3px solid #4c154e;
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

#map {
    width: 900px;
    height: 500px;
    margin: 30px auto;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(227, 160, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #238859;
}
