body {
    font-family: 'Source Sans Pro';
    padding: 1em;
}

h1 {
    font-size: 3em;
    margin: 0.25em 0;
}

h3 {
    font-size: 16px;
    margin: 0.25em 0;

}

p {
    font-size: 1em;
}

button {
    color: gold;
    background-color: black;
    margin: 10px auto;
    padding: 7px;
    border-radius: 15px;
    box-shadow: 0 0 0 1px rgb(209, 16, 16);
}

button:hover {
    color: black;
    background-color: gold;
    font-weight: bold;
}

button:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px #066703;
}